.body{
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header{
    text-align: center;
    padding: 40px;
}
header a{
    text-decoration: none;
    color: white;
    margin: 15px;
}
.titulos{
    font-weight: 700;
}

/* section banner */
.banner{
    position: relative;
}
.imgbanner{
    width: 100%;
    opacity: 0.5;
}
.txtbanner{
    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* section história */
.sechis{
    padding-top: 150px;
}
.divhis{
    background-color: rgba(113, 23, 23, 1);
    text-align: left;
    border-radius: 20px;
    padding: 20px;
    padding-left: 40px !important;
}
.imghis{
    width: 100%;
}
.textohis{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

/* section pratos */
.secpratos{
    padding-top: 150px;
}
.divpratos{
    padding-top: 50px;
}
.imgpratos{
    border-radius: 10px;
    padding-bottom: 5px;
    width: 100%;
}
.btnreceita{
    background-color: rgba(113, 23, 23, 1) !important;
    border: rgba(113, 23, 23, 1) !important;
    border-radius: 20px !important;
}

.modal-header{
    background-color: rgba(113, 23, 23, 1);
}
.modal-content{
    color: white !important;
}
.modal-body{
    background-color: rgba(39, 39, 39, 1);
}
.modal-footer{
    background-color: rgba(39, 39, 39, 1) !important;
}

/* section cinza*/
.secinza{
    margin-top: 150px;
    background-color: rgba(39, 39, 39, 1);
    padding: 60px;
}
.btnguia{
    text-decoration: none;
    color: white;
    background-color: rgba(113, 23, 23, 1);
    border-radius: 20px;
    padding: 15px;;
}
.divbtnguia{
    margin-top: 50px;
}

/*section curiosidades*/
.securiosidades{
    margin-top: 150px;
}
.text-rigth{
    text-align: right;
}
.imgcurio{
    width: 50%;
}
.imgright{
    float: right;
}
.imgleft{
    float: left;
}
.divcurio{
    margin-top: 80px;
}

footer{
    margin-top: 100px;
    background-color: rgba(39, 39, 39, 1);
    padding: 50px;
    text-align: center;
}